.topProducts {
  margin: 36px 0px;
}

.productContainer {
  width: 100%;
  /* background-color: aquamarine; */
}
.productWrapper {
  width: 100%;
  /* background-color: red; */
  padding: 16px 24px;
  overflow: hidden;
}
.productSlide {
  min-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  transition: all 0.8s ease;
}
.topProductsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
}

.topProductsHeader .topProductsTitle {
  margin-left: 24px;
  font-size: 24px;
  color: #252525;
}
.topProductsHeader .moveButtonsBox {
  height: 100%;
  margin-right: 24px;
  font-size: 24px;
  color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.topProductsHeader .moveButtonsBox button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 4px 16px;
  background-color: #444444;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.topProductsHeader .moveButtonsBox button:hover {
  cursor: pointer;
  background-color: #1d1d1d;
  color: white;
}
.productSlide .product {
  padding: 8px;
  min-width: 280px;
  width: 280px;
  max-width: 280px;
  height: 360px;
  background-color: whitesmoke;
  box-shadow: inset 4px 4px 20px transparent, inset -4px -4px 20px transparent;
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: all 0.5s ease;
  overflow: hidden;
}
.productSlide .product:hover {
  background-color: white;
  transform: scale(1.05);
  outline: 2px solid #ffca7a;
  box-shadow: inset 4px 4px 40px rgba(255, 202, 122, 0.5);
}

.product .productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
  /* background-color: rebeccapurple; */
  transition: all 0.8s ease;
}
.productSlide .product:hover .productImage {
  height: 50%;
}
.product .productDetails {
  display: none;
}
.productSlide .product:hover .productDetails {
  height: 50%;
  display: block;
}
.productDetails .priceBox {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  /* background-color: rebeccapurple; */
}
.productDetails .priceBox:first-child {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.productDetails .priceBox .cuttingPrice {
  /* background-color: red; */
  color: gray;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.productDetails .titleBox {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin: 8px 0px;
}
.productDetails .buttonBox {
  display: flex;
  gap: 8px;
  align-items: center;
}
.productDetails .buttonBox .moreDetails,
.addToCart {
  border: none;
  background-color: gray;
  color: whitesmoke;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.productDetails .buttonBox .addToCart {
  background-color: #ffb039;
  color: #252525;
  font-weight: 600;
}
.productDetails .buttonBox .moreDetails:hover {
  background-color: #1d1d1d;
  color: white;
  cursor: pointer;
}
.productDetails .buttonBox .addToCart:hover {
  background-color: #ff9900;
  color: #0f0f0f;
  font-weight: bold;
  cursor: pointer;
}
