.filters {
  width: 100%;
  padding-bottom: 16px;

  .categoriesFilter {
    height: 420px;
    // background-color: rebeccapurple;
  }
  .priceFilter {
    // background-color: rebeccapurple;
    margin-top: 24px;
    padding: 0px 16px;
    .priceRangeBox {
      //   background-color: red;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .min,
      .max {
        width: 100%;
      }
      input {
        // padding: 8px;
        width: 100%;
      }
    }
  }
  .sort {
    width: 100%;
    margin-top: 24px;
    padding: 0px 16px;
    .sortWrapper {
      width: 100%;
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 16px;
      .checkboxWrapper {
        min-width: 45%;
        // background-color: rebeccapurple;
        display: flex;
        gap: 16px;
      }
    }
  }
}
