.productsShowSection {
  max-width: 1366px;
  margin: auto;
  display: flex;

  .productsShowSection_left {
    width: 460px;
    border-right: 1px solid lightgray;
  }
  .productsShowSection_right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
